p{
    font-family: monospace;
}
body{
    background: rgb(66, 8, 8);
    margin-left: 50px;
    margin-right: 300px;
}
header{
    margin-top: 30px;
}
h1{
    color: rgb(54, 54, 54);
    font-family: fantasy;
}
h2{
    font-family: fantasy;
}
p{
    font-size: 20px;
}
.padrao{
    margin-bottom: 30px;
}